img {
  margin-top: 3%;
}
article {
  margin-right: 3px;
}
.fishCard {
  margin: 1px;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 49%;
  padding-right: none;
  background-color: khaki;
}
.fishCard__img {
  width: 30%;
}

.fishCard__name {
  font-weight: bold;
}

.containerLeft__fishList {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-around; */
}
