footer {
  display: flex;
  justify-content: center;
  border: solid;
  margin-top: 5px;
  /* background-color: hotpink; */
}
.contactContainer {
  border: solid;
  display: flex;
  padding: 7px;
  margin: 2px;
  text-align: center;
  background-color: khaki;
}

.socialContainer {
  border: solid;
  display: inline;
  padding: 7px;
  margin: 2px;
  text-align: center;
  background-color: khaki;
}
