header {
  /* display: flex; */
  /* border: solid black; */
  text-align: center;
}

nav {
  /* background-color:  */
  flex-direction: column;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-content: space-evenly;
}
h1 {
  margin-bottom: 10%;
  margin-top: 3%;
}
.logo {
}
.top {
  flex-direction: row;
  justify-content: flex-start;
}
.header-one {
  text-align: center;
  margin-left: 50px;
  justify-content: center;
}
