@import "./header.css";
@import "./fish.css";
@import "./tips.css";
@import "./locations.css";
@import "./footer.css";
@import "./quotes.css";

body {
  background-color: lightblue;
}
.contentArticle {
  /* background-color: bisque; */
  border: none;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
}

.containerLeft {
  flex-basis: 73%;
}

.containerRight {
  flex-basis: 27%;
}
